.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.title {
  font-style: italic;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 0.8rem 0;
}

.py-1 {
  padding: 0 1rem;
}
.py-2 {
  padding: 1rem 0.8rem;
}
